.nebula-nav{
  display: grid;
  backdrop-filter: blur(15px);
  padding: 15px;
  border-radius: 20px;
  width: 500px;
  height: 80px;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  margin-top: 10px;
  position: sticky;
}

body{
    background-color: #070707;
    font-family: "Oswald", sans-serif;
}

#particles-js{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.nav-btn{
  background-color: #0d318083;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-left: 20px;
   transition: background-color 0.50s;
}

.nav-btn:hover{
    background: #1551d375;
}

.game-btn{
  display: flexbox;
  background-color: #0e294b;
  color: white;
  border-radius: 10px;
  padding:15px;
  border: none;
  transition: background-color 0.50s;
  text-align: center;
  margin-top: 50px;
}

.game-btn:hover{
  background-color: #2973ce;
}

.uni-btn{
   background-color: #0e294b;
  color: white;
  border-radius: 10px;
  padding:15px;
  border: none;
  transition: background-color 0.50s;
  text-align: center;
  margin-top: 50px;
}

.uni-btn:hover{
  background-color: #2973ce;
}

.fullscreen-btn{
   background-color: #0e294b;
  color: white;
  border-radius: 10px;
  padding:15px;
  border: none;
  transition: background-color 0.50s;
  text-align: center;
  margin-top: 50px;
}

.fullscreen-btn:hover{
  background-color: #2973ce;
}

.games{
  display: grid;
  margin: 5px;
  margin-top: 5px;
}

.searchlogo{
  margin: 450px;
}

.scramjetsearchbar{
  background-color: #0a0a0a;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  border: none;
  width: 450px;
  margin-top: 500px;
}
.GameIco{
width: 200px; 
height: 200px; 
border-radius: 10px;
transition: width 0.5s, height 0.5s;
}

.GameIco:hover{
  height: 225px;
  width: 225px;
}

.app-ico{
  border-radius: 10px;
  height: 100px;
  width: 100px;
  transition: width 0.25s, height 0.25s;
}

.app-ico:hover{
  height: 150px;
  width: 150px;
}